.footer {
  background-color: #2f0062;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.info {
  margin-bottom: 18vh;
}
.footer .blanco {
  min-height: 8vh;
  margin-bottom: 0%;
}

.linkPagina {
  color: white;
  font-size: 200%;
  margin-right: 2%;
}

.blanco {
  min-height: 20vh;
}

.extra {
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 4%;
  padding-right: 4%;
}

textarea {
  width: 100%;
  height: 40vh;
  resize: none;
  border-radius: 10px;
}

.itemAnswer {
  margin-bottom: 1rem;
  background-color: yellow;
  border-radius: 10px;
  padding: 1rem;
}

.itemQuestion {
  margin-bottom: 1rem;
  background-color: blue;
  padding: 1rem;
  border-radius: 10px;
}

.inputElement {
  margin-right: 1rem;
}

.input-group-prepend,
.input-group-text,
.form-group {
  width: 100%;
}

.labelAnswer {
  min-width: 10%;
  margin-top: 0.5rem;
}

.answerElement {
  width: 100%;
  margin-top: 0.5rem;
}

.input-group-text {
  background-color: green;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px;
}
